@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefaef;
  --foreground: #08090A;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #151419;
    --foreground: #fbfbfb;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.custom-polygon {
  clip-path: polygon(100% 85%, 100% 0, 0 0, 0 100%, 23% 100%, 42% 85%);
}

